// banner
.banner {
  margin-top: -93px;
  height: 800px;
  @media (max-width: 767px) {
    height: 640px;
    text-align: center;
    margin-top: -77px;
  }
  h2 {
    font-size: 48px;
    line-height: 64px;
    @media (max-width: 767px) {
      color: $white !important;
    }
  }
  p {
    font-size: 24px;
    line-height: 36px;
    color: $gray;
    @media (max-width: 767px) {
      font-size: 16px;
      color: $white-99 !important;
    }
  }
  a {
    padding: 18px 45px;
    @media (max-width: 767px) {
      width: 100%;
    }
  }
}

.banner-image {
  @include banner-image('../images/index-1.jpg');
}
.banner-image2 {
  @include banner-image('../images/done.jpg');
}
@media (max-width: 767px) {
  .banner-image,
  .banner-image2 {
    width: 100%;
  }
}

// features
.features {
  h2 {
    font-size: 24px;
  }
  p {
    color: $gray;
  }
}

// director
.director {
  background: url(../images/index-5.jpg) center no-repeat;
  background-size: cover;
  @media (min-width: 767px) {
    height: 400px;
  }
  h2 {
    @media (max-width: 767px) {
      padding-bottom: 125px;
    }
  }
  li:nth-child(1) {
    color: $white-99;
    margin-bottom: 4px;
  }
  li:nth-child(2) {
    font-size: 24px;
  }
  a {
    font-size: 14px;
  }
}

// product
.product {
  overflow-x: auto;
  .product-card {
    cursor: pointer;
  }
  &::-webkit-scrollbar {
    display: none;
  }
  &.slider-active {
    cursor: grabbing;
  }
  h3 {
    font-size: 24px;
    margin-bottom: 4px;
  }
}
.product-card--image {
  img {
    height: 240px;
    object-fit: cover;
    @media (min-width: 767px) {
      height: 350px;
    }
  }
}
.sale-tag {
  top: 16px;
  right: 16px;
  font-size: 14px;
}
.price {
  del {
    color: $gray-62;
  }
}
