.list {
  img {
    width: 48px;
    height: 48px;
    object-fit: cover;
  }
}
[aria-expanded='false'] .icon-open {
  display: inline;
}
[aria-expanded='false'] .icon-close {
  display: none;
}
[aria-expanded='true'] .icon-open {
  display: none;
}
[aria-expanded='true'] .icon-close {
  display: inline;
}
